<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>

        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Input text"
          required
        />
        <div
          *ngIf="!name?.valid && (name?.touched || submitted)"
          id="nameErrorMessage"
        >
          <span *ngIf="name?.errors?.['required']" class="text-danger"
            >Name is required.</span
          >
          <span *ngIf="name?.errors?.['minlength']" class="text-danger"
            >Name sould be at least 6 characters.</span
          >
        </div>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          placeholder="Input text"
          required
        />
        <div
          *ngIf="!email?.valid && (email?.touched || submitted)"
          id="emailErrorMessage"
        >
          <span *ngIf="email?.errors?.['required']" class="text-danger"
            >Email is required.</span
          >
          <span *ngIf="email?.errors?.['invalidEmail']" class="text-danger"
            >Email should be in valid format.</span
          >
        </div>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Input text"
          required
        />
        <span
          *ngIf="!password?.valid && (password?.touched || submitted)"
          id="passwordErrorMessage"
          class="text-danger"
          >Password is required.</span
        >
      </div>
    </div>
    <div class="form__action" (click)="onSubmit()">
      <app-button [buttonText]="btnTextRegistration"></app-button>
    </div>
    <p>
      If you have an account you may
      <strong>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">
          Login</a
        ></strong
      >
    </p>
  </div>
</div>
