<app-header>
  <span class="userName">Harry Potter</span>
  <app-button [buttonText]="btnTextLogout"></app-button>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <app-info [title]="infoTitle" [text]="infoText">
    <app-button [buttonText]="btnTextAddNewCourse"></app-button>
  </app-info>

  <!-- Course Card component -->
  <app-course-card
    [isEditabel]="true"
    [course]="mockedCourse"
    (clickOnShow)="showCourse($event)"
    (clickOnDelete)="deleteCourse($event)"
    (clickOnEdit)="editCourse($event)"
  >
  </app-course-card>

  <app-course-info [course]="mockedCourse"></app-course-info>

  <app-courses-list
    [courses]="mockedCoursesList"
    (showCourse)="showCourse($event)"
    (deleteCourse)="deleteCourse($event)"
    (editCourse)="editCourse($event)"
  ></app-courses-list>
  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
