<app-header>
  <span *ngIf="authService.isAuthorized$ | async" class="userName">{{
    userName
  }}</span>
  <app-button
    *ngIf="authService.isAuthorized$ | async"
    [buttonText]="btnTextLogout"
    (click)="onLogout()"
  ></app-button>
</app-header>
<div class="app-root">
  <router-outlet></router-outlet>
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <!--   <app-info [title]="infoTitle" [text]="infoText">
    <app-button [buttonText]="btnTextAddNewCourse"></app-button>
  </app-info> -->

  <!-- Course Card component -->
  <!-- <app-course-card
    [isEditabel]="true"
    [course]="mockedCourse"
    (clickOnShow)="showCourse($event)"
    (clickOnDelete)="deleteCourse($event)"
    (clickOnEdit)="editCourse($event)"
  >
  </app-course-card> -->

  <!-- <app-course-info [course]="mockedCourse"></app-course-info> -->

  <!-- <app-courses-list
    [courses]="mockedCoursesList"
    (showCourse)="showCourse($event)"
    (deleteCourse)="deleteCourse($event)"
    (editCourse)="editCourse($event)"
  ></app-courses-list> -->
  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
