<app-header>
  <div userName>Harry Potter</div>
  <div button><app-button [buttonText]="btnTextLogout"></app-button></div>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <app-info [title]="infoTitle" [text]="infoText">
    <app-button [buttonText]="btnTextAddNewCourse"></app-button>
  </app-info>

  <!-- Course Card component -->
  <app-course-card
    [isEditabel]="true"
    [course]="mockedCourse"
    (clickOnShow)="showCourse($event)"
  >
    <app-button showCourseBtn [buttonText]="btnTextShowCourse"></app-button>
    <app-button deleteBtn [iconName]="faTrashCan"></app-button>
    <app-button editBtn [iconName]="faPencil"></app-button>
  </app-course-card>

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
